body {
	background-color: rgb(200, 200, 210);
	color: rgb(30, 30, 40);
	font-family: Helvetica;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	margin: 10px 0px;
	line-height: 1.5;
}

h1, h2, h3 {
	text-align: center;
}

h3 {
	font-size: 16px;
}

h2 {
	font-size: 18px;
}

h1 {
	font-size: 22px;
}

img {
	margin: 10px auto;
	display: block;
}

mark {
	color: rgb(100, 30, 30)
}

p {
	text-align: justify;
	margin: 10px 8px;
}